[user]
	name = mikeymanoguerra
	email = mikeymanoguerra@gmail.com
[alias]
	lg = log --oneline --all --graph --decorate
	ac = "!git add -A ; git commit -m"
	st = status
	ch = checkout
	br = branch
  flg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  psh ="!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
